@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.bg-f {
  background: hsla(0, 0%, 100%, 0.55);
  backdrop-filter: blur(30px);
  z-index: 1;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.div1 {
  background-color: #fe760c;
}

.div2 {
  background-color: #0a47ec;
}

.item {
  color: #000;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
  cursor: pointer;
}

.sec {
  min-height: calc(100vh - 20%);
}



@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}







.footerlink {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
  cursor: pointer;
}
.background-image {
  background-image: url("https://lxwnzovjjfyhbnrqtzqh.supabase.co/storage/v1/object/public/landing/275552462_4977375532323835_1143964495443377286_n.jpg");
  background-size: cover;
}
.bodcastImage{
  background-image: url("https://cdn.sanity.io/images/3jgfjpmr/production/a83f8022c308c4a06357d3bf052ca17f47521673-6720x4480.jpg?w=2000&fit=max&auto=format");
  background-size: cover;
}
.storyImage{
  background-image: url("https://lxwnzovjjfyhbnrqtzqh.supabase.co/storage/v1/object/public/landing/273867068_4886443321438059_3821558018186676713_n.png");
  background-size: cover;
}
.internShipImage{
  background-image: url("https://lxwnzovjjfyhbnrqtzqh.supabase.co/storage/v1/object/public/landing/273578610_1890094691161964_5608811467393458695_n.png");
  background-size: cover;
}
.careerImage{
  
  background-image: url("https://lxwnzovjjfyhbnrqtzqh.supabase.co/storage/v1/object/public/landing/273945113_5065156993547254_7326903147520244853_n.jpg");
  background-size: cover;
}

/* ============================================================================================================= */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
